#command_ {
	position: fixed;
	display: none;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 2;
	top: 0px;
}

#command_prompt_top {
	height: 28px;
}

.command_prompt_col1 {
	width: 15%;
}

.command_prompt_col2 {
	width: 70%;
}

.command_prompt_col3 {
	width: 15%;
}

#command_command_box {
	color: purple;
	height: 200px;
	overflow: auto;
	left: 100px;
}

#command_reply_box {
	height: 200px;
	overflow: auto;
}

.table_of_contents {
	position: fixed;
	background-color: white;
	height: 100%;
}

.contents {
	margin-left: 296px;
}

#stream_list_box td:nth-child(1), #stream_list_box th:nth-child(1) {
	width: 50px;
}

#stream_list_box td:nth-child(2), #stream_list_box th:nth-child(2) {
	width: 100px;
}

#stream_list_box td:nth-child(3), #stream_list_box th:nth-child(3) {
	width: 100px;
}

#stream_list_box td:nth-child(4), #stream_list_box th:nth-child(4) {
	width: 539px;
}

#stream_list_box {
	height: 300px;
	width: 800px;
	overflow: auto;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

#circuit_list_box {
	width: 800px;
	height: 400px;
	overflow: auto;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

#ORlist_box {
	width: 800px;
	height: 400px;
	overflow: auto;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

#bandwidth_graph {
	width: 712px;
	height: 436px;
}

.upload_path {
	stroke: red;
}

.download_path {
	stroke: blue;
}

.upload_path, .download_path {
	stroke-width: 1px;
	fill: none;
}

.bandwidth_graph_cover {
	stroke-width: 0px;
	fill: white;
}

.bandwidth_graph_reference_line {
	stroke: gray;
	stroke-width: 1px;
}

.bandwidth_graph_label {
	fill: black;
}

.bandwidth_graph_frame {
	stroke-width: 1px;
	stroke: black;
	fill: none;
}

.bandwidth_graph_current_download_rate {
	fill: blue;
}

.bandwidth_graph_current_upload_rate {
	fill: red;
}

#messages_table_header {
	
}

#messages_table_box {
	height: 500px;
	width: 800px;
	overflow: auto;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

#messages_table_box td:nth-child(1), #messages_table_box th:nth-child(1)
	{
	width: 155px;
}

#messages_table_box td:nth-child(2), #messages_table_box th:nth-child(2)
	{
	width: 78px;
}

#messages_table_box td:nth-child(3), #messages_table_box th:nth-child(3)
	{
	width: 562px;
}

#custom_command_console {
	height: 480px;
	width: 640px;
	overflow-y: auto;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.console_input {
	color: purple;
}

.console_output {
	color: black;
}

#custom_command_input_box {
	width: 640px;
}

.tor_option_hide_description {
	display: none;
}

.tor_option_description_block {
	display: none;
}

.tor_option_description {
	margin-left: 4%;
}

.tor_option_description_indented {
	margin-left: 10%;
}

.tor_option_description_indented2 {
	margin-left: 16%;
}

.tor_option_description_indented3 {
	margin-left: 22%;
}

table {
	border-collapse: collapse;
}

.wide_table {
	white-space: nowrap;
}

#orconn_list_box td:nth-child(1), #orconn_list_box th:nth-child(1) {
	width: 100px;
}

#orconn_list_box td:nth-child(2), #orconn_list_box th:nth-child(2) {
	width: 694px;
}

#orconn_list_box {
	height: 300px;
	width: 800px;
	overflow: auto;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.custom_command_time {
	color: green;
}

@keyframes bandwidth_data_path_slide {
	from {
	}
	
	to {
		transform: translateX(-600px);
	}
}

#custom_command_hint_box {
	position: absolute;
	z-index: 2;
	display: none;
	margin-top: 28px;
	background-color: white;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}
